{% extends "base.html" %}
{%block title%}Item{%endblock%}
{%block content%}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img style="width: 400px;" class="card-img-top mb-5 mb-md-0" src="{{item.img_url}}" alt="item image" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{item.title}} - {{item.publication_year}}</h1>
                <p class="fs-5 mb-5">
                    Author: {{item.author}}
                </p>
                <p class="lead"> Publisher: {{item.publisher}}</p>
                <div class="d-flex">
                    <input class="text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark" type="button" id="{{item.id}}" onclick="add_to_card(this)">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
{%block scripts%}
    <script src="{{ url_for('static', filename='item.js') }}"></script>
{%endblock%}
